:root {
    --darkerBlue: #2E60B4;
    --darkBlue: #3E91ED;
    --blue: #5D93CA;
    --lightBlue: #94C5E0;
    --lighterBlue: #A0C0D5;
    --montserrat: 'montserrat', sans-serif;
    --raleway: 'Raleway', sans-serif;
    --open: 'Open Sans Condensed', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
}

#left {
    top: 10vw;
    height: 40vh;
    position: absolute;
    width: 95vw;
    left: -93vw;
    background-color: var(--darkerBlue);
    transition: left 1s, background-color 2s, height 1s, top 1s;
    z-index: 50;
    display: flex;
    flex-direction: row;
    color: white;
    z-index: 51;
}

#left:hover {
    left: 0vw;
    background-color: rgb(31, 31, 31);
    height: 100vh;
    top: 0;
}

#left:hover~#right {
    z-index: 20;
}

.flexLeft {
    display: flex;
    flex-direction: row;
}

#AboutMe {
    height: 0;
    background-color: rgb(43, 43, 43);
    padding-left: 5em;
    margin-top: 5em;
}

#SkillsID {
    margin: 10em auto 0 auto;
    color: white !important;
}

.mySkills {
    display: flex;
    flex-direction: column;
    width: 60%;
    border-radius: 15px;
    color: white;
    font-family: var(--open);
}

.Csharp {
    background-color: #2E60B4;
    border-radius: 1vw 1vw 0 0;
    transition: background-color 1s, color 1s;
}

.Csharp:hover {
    background-color: white;
    color: #2E60B4;
}

.ASP {
    background-color: rgb(60, 105, 184);
    transition: background-color 1s, color 1s;
}

.ASP:hover {
    background-color: white;
    color: rgb(60, 105, 184);
}

.java {
    background-color: rgb(68, 110, 184);
    transition: background-color 1s, color 1s;
}

.java:hover {
    background-color: white;
    color: rgb(68, 110, 184);
}

.javascript {
    background-color: rgb(80, 116, 179);
    transition: background-color 1s, color 1s;
}

.javascript:hover {
    background-color: white;
    color: rgb(80, 116, 179);
}

.HTML {
    border-radius: 0 0 15px 15px;
    background-color: rgb(93, 125, 180);
    transition: background-color 1s, color 1s;
}

.HTML:hover {
    background-color: white;
    color: rgb(93, 125, 180);
}

#myPhoto {
    height: 20vh;
    border-radius: 50%;
}

#contactID {
    flex: 1;
    width: 20%;
    background-color: red;
}

.contactList {
    display: flex;
    flex-direction: row;
}

.contactList {
    justify-content: center;
    padding: 1em 1em 0 1em;
}

.contactList li {
    list-style-type: none;
    margin: 0 1em;
    font-size: 2vw;
}

.contactList li a {
    text-decoration: none;
}

#right {
    top: 10vw;
    height: 40vh;
    position: absolute;
    width: 2vw;
    right: 0;
    background-color: var(--darkBlue);
    z-index: 52;
    transition: right 1s, background-color 2s, height 1s, width 1s, top 1s;
}

#right:hover {
    background-color: rgb(29, 29, 29);
    height: 98vh;
    width: 95vw;
    top: 0;
}

#insideRight {
    display: none;
    transition: display 1s;
    font-family: var(--montserrat);
}

#right:hover>#insideRight {
    display: block;
}

.kirana,
.SearchLucene,
.coktailsNepal {
    height: auto;
    width: 20vw;
    margin: 1em 0;
    box-shadow: 0px 1px 5px 2px rgb(22, 21, 21);
    background-color: rgb(37, 37, 37);
    color: rgb(100, 100, 100);
    font-size: 2vw;
    padding: 1em;
    font-family: var(--open);
    transition: background-color 1s, color 1s;
}

.kirana:hover,
.SearchLucene:hover,
.coktailsNepal:hover {
    background-color: rgb(24, 35, 94);
    color: white;
}

#Kiranalink,
#CocktailNepallink {
    text-decoration: transparent;
    color: white;
}

#center {
    position: relative;
    color: var(--lightBlue);
    background-color: #1A1A1D;
    height: 100vh;
}

#center h1 {
    text-align: center;
    padding-top: 20%;
    font-size: 4vw;
}

#center p {
    text-align: center;
    color: var(--lighterBlue);
    z-index: 2;
    font-size: 1vw;
}

.arrows {
    padding: 2em 1em 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3vw;
}

.arrows p {
    font-family: var(--montserrat);
    font-size: 0.87em;
}